@page
@model HospiEnCasa.App.Frontend.HU_04Model
@{
}
<h1>Listado de Pacientes Hospitalizados en casa </h1>
<br>
<button value="Añadir paciente nuevo" onclick="location.href = '../Registrar_Paciente/HU-01';">Añadir paciente nuevo</button>
<button value="buscar Paciente" onclick="location.href = '../Buscar_Paciente/HU-05';">Buscar Paciente</button>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Cedula</th> 
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Opciones</th>
    </tr>
    </thead>
    @foreach (var paciente in Model.Pacientes)
    {
        <tr>
            <td>
                @paciente.DocumentoIdentidad
            </td>
            <td>
                @paciente.Nombre
            </td>
            <td>
                @paciente.Apellidos
            </td>
             <td>
                <a asp-page="../Asignar_Familiar/Asignar_Familiar" asp-route-pacienteDocumento="@paciente.DocumentoIdentidad">  Asignar familiar</a> <a asp-page="../Asignar_Medico/Asignar_Medico" asp-route-pacienteDocumento="@paciente.DocumentoIdentidad">  Asignar Medico</a>
            </td>
        </tr>

    }
</table>