@page
@model MyApp.Namespace.Pacientes_MedicoModel
@{
}
<h1>Listado de pacientes del medico @Model.Medico.Nombre @Model.Medico.Apellidos</h1>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Apellidos</th>
    </tr>
    </thead>
    @foreach (var paciente in Model.Pacientes) if (paciente.MedicoId == Model.Medico.Id)
    {
        <tr>
            <td>
                @paciente.DocumentoIdentidad
            </td>
            <td>
                @paciente.Nombre
            </td>
            <td>
                @paciente.Apellidos
            </td>
        </tr>

    }
</table>